* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: sans-serif;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Container styling */
.container {
    width: 100%;
    max-width: 500px; /* Increased max-width for desktop */
    background-color: white;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

/* Heading styling */
.container h1 {
    color: black;
    font-size: 28px; /* Larger font for desktop */
    margin-bottom: 20px;
}

/* Sub-container for input and button */
.sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between input and button */
}

.sub-container input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 16px;
    flex: 1; /* Ensure input takes up space */
}

.sub-container button {
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
    .container {
        margin-top: 50px;
        padding: 20px;
    }

    .sub-container input, .sub-container button {
        padding: 8px;
    }
}
